@model IEnumerable<ScheduleApp.Models.Assignment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Завдання</title>
</head>
<body>

@if (ViewBag.SubjectId == null)
{
    <h1>Всі завдання</h1>
}
else
{
    <h1>Завдання для предмета: @ViewBag.SubjectName</h1>
}

<p>
    <a asp-action="Create" asp-route-subjectId="@ViewBag.SubjectId">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>